# Folders with data
resources/
schemas/
cloud_function.zip

# Terraform
.terraform.lock.hcl
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.1740611838.backup
terraform.tfstate.1740906752.backup
.terraform.tfstate.lock.info

# GCP
google-cloud-cli-450.0.0-linux-x86_64.tar.gz
.gcloudignore

# Python
__pycache__

#  logs
logs/

# dbt
targets/
profiles.yml

